@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
// font-family: "Source Serif 4", serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

$color: (
  dark: #000,
  light: #fff,
  wish: #d64040,
  bg: #eee,
  overColor: #d6d6d6,
);
$font-size: (
  common-base: 25px,
  common-medium: 30px,
  pc-xsmall: 17px,
  pc-small: 18px,
  pc-base: 22px,
  pc-medium: 23px,
  pc-large: 40px,
  mobile-xsmall: 13px,
  mobile-small: 15px,
  mobile-base: 20px,
  mobile-medium: 27px,
);
// header
#container {
  font-family: "Source Serif 4", serif;
  .sec_top {
    width: 100%;
    text-align: center;
    h1 {
      font-size: map-get($font-size, pc-large);
      margin-bottom: 10px;
    }
    span {
      font-size: map-get($font-size, common-medium);
    }
  }
}
header {
  width: 100%;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 90px;
      margin-left: 30px;
      img {
        width: 100%;
      }
    }
    .gnb {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
        width: 150px;
        a {
          color: map-get($color, dark);
          font-size: map-get($font-size, pc-base);
        }
      }
    }
    .toggle {
      display: none;
    }
  }
}

// main
main {
  #home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .main_background {
      width: 833px;
      transform: rotate(-28deg) translateX(-80px);
      img {
        width: 100%;
      }
    }
    .main_info {
      transform: translateY(-50%);
      text-align: center;
      .main_info_top {
        padding: 15px;
        h1 {
          font-size: map-get($font-size, pc-large);
          margin-bottom: 10px;
        }
        span {
          font-size: map-get($font-size, common-base);
          display: block;
        }
      }
      button {
        width: 50%;
        font-size: map-get($font-size, pc-base);
        background: map-get($color, dark);
        color: map-get($color, light);
        border-radius: 5px;
        border: none;
        padding: 10px 15px;
        font-family: "Source Serif 4", serif;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: map-get($color, light);
          color: map-get($color, dark);
        }
      }
    }
  }
  #new {
    padding: 100px 0;
    background: map-get($color, bg);
    .new_info {
      margin-bottom: 50px;
    }
    .new_products {
      width: 100%;
      display: flex;
      gap: 30px;
      overflow-x: scroll;
      overflow-y: hidden;
      li {
        height: 280px;
        padding-top: 40px;
        border-radius: 50%;
        background: map-get($color, light);
        transition: 0.3s;
        &:hover {
          background: map-get($color, overColor);
          img {
            transform: scale(1.1);
          }
        }
        a {
          display: block;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          overflow: hidden;
          img {
            width: 280px;
            transition: 0.3s;
          }
        }
      }
    }
  }
  #goods {
    padding: 100px 70px;
    .goods_info {
      margin-bottom: 20px;
    }
    .goods_sorts {
      margin-bottom: 50px;
      text-align: center;
      select {
        font-family: "Source Serif 4", serif;
        background: map-get($color, dark);
        border: none;
        color: map-get($color, light);
        border-radius: 5px;
        padding: 5px 10px;
        font-size: map-get($font-size, pc-small);
        &:focus {
          outline: none;
        }
      }
    }
    .goods_item_box {
      .goods_items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .item {
          background: map-get($color, bg);
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 30px;
          .item_img {
            width: 370px;
            img {
              width: 100%;
            }
          }
          .item_info {
            text-align: center;
            .item_title {
              h1 {
                font-size: map-get($font-size, common-base);
              }
            }
            .item_subtit {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              .price {
                display: inline-block;
                font-size: map-get($font-size, pc-medium);
                margin-right: 70px;
              }
              button {
                font-size: 24px;
                width: 24px;
                height: 24px;
                border: none;
                margin-right: 15px;
                &.wish::before {
                  content: "\f004";
                  font-family: fontawesome;
                }
                &.wish.addWish::before {
                  color: map-get($color, wish);
                }
                img {
                  width: 24px;
                }
              }
              a {
                width: 24px;
                height: 24px;
                color: map-get($color, dark);
                i {
                  font-size: map-get($font-size, pc-base);
                  font-weight: 900;
                }
              }
            }
          }
        }
      }
    }
  }
  #cart {
    min-height: 60vh;
    padding: 50px 0;
    > h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: map-get($font-size, pc-large);
    }
    .cart_container {
      width: 80%;
      min-height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      .cart_goods {
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid map-get($color, dark);
        .goods_thumb {
          width: 200px;
          margin: 14px 0;
          img {
            width: 100%;
          }
        }
        .goods_info_box {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 30px;
          padding: 0 30px;
          .item_info {
            span {
              display: block;
            }
            button {
              border: none;
              background: none;
              padding-bottom: 3px;
              position: relative;
              cursor: pointer;
              &::after {
                content: "";
                width: 100%;
                height: 1px;
                background: map-get($color, dark);
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }
          .item_control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
            .count_sec {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              font-size: map-get($font-size, pc-base);
              span {
                i {
                  font-size: map-get($font-size, mobile-small);
                }
              }
            }
            > span {
              font-size: map-get($font-size, pc-small);
              font-weight: 600;
            }
          }
        }
      }
    }
    .total {
      width: 100%;
      display: none;
      justify-content: space-around;
      padding: 30px 0;
      &.active {
        display: flex;
      }
      .total_title {
        font-size: map-get($font-size, pc-small);
      }
      .total_price {
        font-size: map-get($font-size, pc-small);
      }
    }
    .pay {
      display: none;
      text-align: center;
      margin-top: 50px;
      &.active {
        display: block;
      }
      button {
        width: 15%;
        line-height: 45px;
        border-radius: 20px;
        border: 1px solid map-get($color, dark);
        background: map-get($color, light);
        font-size: map-get($font-size, pc-small);
        font-family: "Source Serif 4", serif;
        transition: 0.3s;
        &:hover {
          border: 1px solid map-get($color, dark);
          background: map-get($color, dark);
          color: map-get($color, light);
        }
      }
    }
  }
}
